$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
$c-white: rgba(255, 255, 255, 1);
$c-nav-bar-top: rgba(45, 62, 79, 1);
$c-hero-blue: rgba(28, 48, 188, 1);
$c-nav-bar-bottom: rgba(34, 34, 34, 1);
$c-blog-red: rgba(229, 77, 66, 1);
$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'navbar';
@import 'content';
@import 'blog';
@import 'reset';
@import 'layout';

.city-picture {
  position: relative;

  &__img {
    width: 100%;
    height: 50%;
    transition: 1s;
    object-fit: cover;
    filter: grayscale(0%);
  }

  &__caption {
    position: absolute;
    top: 11%;
    left: 3%;
    color: $c-nav-bar-bottom;
    opacity: 0;
    visibility: hidden;
  }
  &__img:hover {
    transition: 1s;
    filter: grayscale(100%);
  }
}

.city-picture {
  &:hover {
    .city-picture__caption {
      transition: 2s;
      opacity: 1;
      visibility: visible;
    }
  }
}
