@import 'yoga-sass/assets/yoga';
@import 'normalize-css/normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';

* {
  background: black;
}

.nav-bar {
  padding: 1rem;
  justify-content: center;
  display: flex;
  color: #808080;
}

.nav-bar_content {
  display: flex;
  justify-content: center;
  // padding: 0.5rem;
}

.about {
  color: #808080;
  text-decoration: none;
}

.work {
  color: #808080;
  text-decoration: none;
  padding-left: 0.5rem;
}

.contact {
  color: #808080;
  text-decoration: none;
}
